<div class="py-20 bg-cico-light-blue w-full px-5 md:px-20" id="nosotros">
    <div class="w-full max-w-[1440px] m-auto flex flex-col md:flex-row ">
        <div class=" p-10 bg-cico-yellow vertical-writing hidden md:block">
            <h3 class="uppercase text-white font-bold text-3xl text-center">Sobre nosotros</h3>
        </div>
        <div class=" p-10 bg-cico-yellow block md:hidden">
            <h3 class="uppercase text-white font-bold text-3xl text-center">Sobre nosotros</h3>
        </div>
        <div class="bg-white p-16 flex flex-col md:flex-row">
            <div class="pb-10 md:py-0 md:px-10 md:w-1/2 w-2/2">
                <p>Somos una empresa filial de corporativo CIOVISA buscamos mas que vender un
                    producto dar un servicio al cliente dándole un valor agregado y múltiple función al
                    producto que nos hace favor de adquirir siempre poniendo a su consideración 3
                    opciones de marca con similares características para que usted defina cual cumple mas,
                    por sus características valor precio en material eléctrico, material ferretero, que atiende
                    a la industria, gobierno y comerciantes del ramo.</p>
            </div>
            <div class="md:px-10 md:w-1/2 w-2/2">
               <p> Buscamos que los servicios y productos que ofrecemos posean un valor agregado, como
                características de calidad y precio que nos distingan en el mercado y que satisfagan
                totalmente las necesidades de nuestros clientes.</p>
                <h3 class="uppercase font-bold text-2xl mt-5 text-cico-orange">TRABAJAMOS SIEMPRE PARA LOGRAR EL LIDERZGO</h3>
            </div>
        </div>
    </div>
</div>

<style>
    .vertical-writing {
        writing-mode: vertical-lr;
        transform: scale(-1);
    }
</style>