<div class="py-20 bg-cico-light-blue w-full px-5 md:px-20" id="clientes">
    <div class="w-full max-w-[1440px] m-auto flex flex-col-reverse md:flex-row ">
        <div class="bg-white p-10 md:p-16 flex flex-col md:flex-row">
            <div class="pb-10 md:py-0 md:px-10">
                <p>Nos enfocamos en darle a nuestros clientes, el mejor servicio, y calidad, día con día nos esforzamos para que nuestros clientes, sean satisfechos de la mejor manera cubriendo sus necesidades, y sobre todo al mejor precio y con disponibilidad casi inmediata. Por eso garantizamos en todas nuestras cotizaciones precios fijos hasta diciembre del 2022, <span class="text-xl font-semibold text-cico-blue">UNICA GARANTIA EN MEXICO</span></p>
            </div>
        </div>
        <div class=" p-10 bg-cico-yellow vertical-writing hidden md:block">
            <h3 class="uppercase text-white font-bold text-3xl text-center">Clientes</h3>
        </div>
        <div class=" p-10 bg-cico-yellow block md:hidden">
            <h3 class="uppercase text-white font-bold text-3xl text-center">Clientes</h3>
        </div>
    </div>
</div>

<style>
    .vertical-writing {
        writing-mode: vertical-lr;
        transform: scale(-1);
    }
</style>