<div 
    class="w-full h-[600px] relative bg-hero bg-no-repeat bg-cover bg-center" 
    style="background-image: url('/happiness-cicovisa.webp');">
    <!-- <img src="/happiness-cicovisa.webp" alt="Grupo cicovisa header" class="w-full h-full object-center object-cover pointer-events-none" /> -->
    <div class="w-full h-full flex justify-center items-center bg-amber-200/50">
        <img src="/cicovisa-white.webp" alt="Grupo cicovisa S.A. de C.V." class="w-[650px] h-auto" />
    </div>
</div>