<div class="bg-white py-20 w-full px-5 md:px-20">
    <div class="w-full max-w-[1440px] m-auto flex justify-around flex-col md:flex-row">
        <div class="w-full md:w-3/5">
            <h3 class="text-3xl text-cico-blue font-bold mb-8">Estrategia comercial</h3>
            <ul class="list-disc list-inside list-li">
                <li>Aunado a tantos productos que comercializamos, e importamos.</li>
                <li>Siempre damos múltiples servicios como mantenimiento de todo tipo de,
                    contratos de limpieza, almacenaje, reparto, custodia, etc.</li>
                <li>Garantizamos los precios mas bajos, nuestra empresa esta dirigida al volumen no
                    menudeo.</li>
                <li>Actualmente nuestra empresa, cuenta con un número de empresas filiales
                    marcas propias, que cada día van tomando posicionamiento, en el mercado
                    nacional.</li>
                <li>Somos una empresa de ideas innovadoras, y hechos concretos.</li>
            </ul>
        </div>
        <div class="w-full md:w-2/5 px-8">image</div>
    </div>
</div>

<style>
    .list-li li {
        margin-bottom: 10px;
    }
</style>