

<div class="bg-white w-full py-20 px-5 lg:px-20" id="valores">
    <div class="w-full m-auto max-w-[1440px]">
        <h3 class="text-center font-bold text-cico-blue text-4xl uppercase mb-10">Valores</h3>
        <div class="flex flex-col lg:flex-row flex-wrap justify-around">

            <div class="w-full lg:w-[30%] p-5 m-0 lg:m-3 mb-5 lg:mb-5 bg-cico-light-blue rounded-xl">
                <h4 class="uppercase text-center font-semibold text-2xl mb-5 text-cico-orange">Valor</h4>
                <p>Ofreciendo productos a nuestros clientes que nos diferencien sustancialmente de nuestros competidores.</p>
            </div>

            <div class="w-full lg:md:w-[30%] p-5 m-0 lg:m-3 mb-5 lg:mb-5 bg-cico-light-blue rounded-xl">
                <h4 class="uppercase text-center font-semibold text-2xl mb-5 text-cico-orange">Crecimiento</h4>
                <p>Ampliando nuestros puntos de venta para ofrecer una red de distribuidores exclusivos con nuestra marca.</p>
                <p>Suministro más compacta y para mejorar las condiciones de aprovisionamiento.</p>
            </div>

            <div class="w-full lg:md:w-[30%] p-5 m-0 lg:m-3 mb-5 lg:mb-5 bg-cico-light-blue rounded-xl">
                <h4 class="uppercase text-center font-semibold text-2xl mb-5 text-cico-orange">Estabilidad</h4>
                <p>Ofreciendo una solución económica para cualquier contrato , pero más que eso nuestra solvencia moral como empresa en beneficio de nuestro país.</p>
            </div>
            <div class="w-full lg:w-[47%] p-5 m-0 lg:m-3 mb-5 lg:mb-0 bg-cico-light-blue rounded-xl">
                <h4 class="uppercase text-center font-semibold text-2xl mb-5 text-cico-orange">Inovación</h4>
                <p>Ofreciendo productos y servicios a nuestros clientes que nos diferencien sustancialmente de nuestros competidores poniendo al menos 3 marcas con características similares con ventajas y desventajas para que usted tome cual cumple con sus ojetivos.</p>
            </div>
            <div class="w-full lg:w-[47%] p-5 m-0 lg:m-3 mb-5 lg:mb-0 bg-cico-light-blue rounded-xl">
                <h4 class="uppercase text-center font-semibold text-2xl mb-5 text-cico-orange">Compromiso</h4>
                <p>Entendemos que una relación de confianza se construye tras años de esfuerzo y se destruye en mucho menos tiempo, por ello nuestra responsabilidad es involucrarnos y atender diariamente las peticiones de nuestros clientes para que el compromiso adquirido perdure.</p>
            </div>
        </div>
    </div>
</div>