---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Content/Header.astro';
import AboutUs from '../components/Content/AboutUs.astro';
import Strategy from '../components/Content/Strategy.astro';
import Client from '../components/Content/Client.astro';
import ValuesUs from '../components/Content/ValuesUs.astro';
import { TabGroup } from '../components/react/TabGroup';
---

<Layout title="Grupo CICOVISA S.A. de C.V.">
	<main>
		<Header />
		<AboutUs />
		<Strategy />
		<ValuesUs />
		<Client />
		<TabGroup client:load/>
	</main>
</Layout>
