---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Content/Header.astro';
import AboutUs from '../components/Content/AboutUs.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header />
		<AboutUs />
	</main>
</Layout>
