<footer class="w-full bg-cico-blue border-t-8 border-cico-yellow">
    <div class="w-full max-w-[1440px] p-20 m-auto flex justify-around flex-col md:flex-row items-center ">
        <img src="/cicovisa-white.webp" alt="Grupo cicovisa" class="w-[300px] h-auto md:mb-0 mb-5" />
        <div class="text-2xl text-white">
            <a href="mailto:contacto@grupocicovisa.com" class="block mb-5">contacto@grupocicovisa.com</a>
            <p>55 1543 3178</p>
        </div>
    </div>
</footer>