<footer class="w-full bg-slate-400 border-t-8 border-cico-blue">
    <div class="w-full max-w-[1440px] p-20 m-auto flex justify-around">
        <img src="/cicovisa.webp" alt="Grupo cicovisa" class="w-[200px] h-auto" />
        <div class="text-2xl">
            <a href="mailto:contacto@grupocicovisa.com" class="block mb-5">contacto@grupocicovisa.com</a>
            <p>55 1543 3178</p>
        </div>
    </div>
</footer>