<header class="w-full bg-cico-light-blue sticky">
    <div class="w-full max-w-[1440px] m-auto p-5 flex flex-col md:flex-row flex-wrap justify-around items-center">
        <div class="w-full md:w-2/6 flex justify-center md:justify-start">
            <img src="/cicovisa.webp" alt="Grupo cicovisa S.A. de C.V." class="w-[300px] md:w-[250px] h-auto" />
        </div>
        <div class="w-full md:w-3/6 items-center hidden sm:flex">
            <ul class="w-full flex flex-row justify-around items-center text-xl text-cico-blue">
                <li><a href="/#nosotros">Nosotros</a></li>
                <li><a href="/#estrategia">Estrategia</a></li>
                <li><a href="/#valores">Valores</a></li>
                <li><a href="/#clientes">Clientes</a></li>
                <li><a href="/#servicios">Servicios</a></li>
            </ul>
        </div>
    </div>
</header>