<header class="w-full sticky bg-cico-light-blue">
    <div class="w-full max-w-[1440px] m-auto p-5 flex flex-row flex-wrap justify-around items-cente">
        <div class="w-2/6">
            <img src="/cicovisa.webp" alt="Grupo cicovisa S.A. de C.V." class="w-[250px] h-auto" />
        </div>
        <div class="w-3/6">
            menu
        </div>
    </div>
</header>